root {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(95, 116, 106, 0.222);
}


.center {
    display: flex;
    justify-content: center;
}

.container {
    margin: auto;
    width: 624px;
    height: 624px;  
    display: flex;
    flex-flow: column nowrap;
    /* background-color: rgba(63, 90, 88, 0.222); */
    background-color: rgba(185, 185, 185, 1);
    border: 50px solid salmon;
    border-radius: 50px;
}

@media screen and (max-width: 624px) {
    .container {
        width: 300px;
        height: 300px;
    }
}


.row{
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
}

.column{
    border: 1px solid salmon;
    flex-basis: 100%;
}

.bigContain{
    display: flex;
    justify-content: space-evenly;
}

.leftContain{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.rightContain{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.right{
    border: 0;
    padding: 20px 25px;
    background-color: rgba(51, 109, 197, 0.450);
    color: rgba(255, 255, 255, 0.76);
}

.right:hover{
    background-color: rgba(26, 55, 100, 0.648);
}

.right:focus{
    background-color: rgba(25, 71, 141, 0.904)
}

h2{
    margin-bottom: 0;
    background-color: rgba(25, 71, 141, 0.455);
    color: rgba(255, 255, 255, 0.66);
}


